!!! 5

= render "layouts/boilerplate"

%html
  %head
    %title= page_title(yield :title)

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    = csrf_meta_tags

    -# UTF-8 charset
    %meta{charset: "UTF-8"}/

    -# Responsive page width on mobile devices
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/

    = render "layouts/shim"

  %body
    = render "layouts/navbar"
    #main.container
      = render "layouts/alert"
      = yield
      = render "layouts/footer"
    = render "layouts/alma_mater"
    = render "layouts/go_squared"
